
@font-face {
  font-family: Croissant;
  src: url(../fonts/CroissantOne-Regular.ttf);
}

html {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scroll bars if necessary */
}

#video-background {
  position: fixed; /* Fix the video to the viewport */
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Place it behind the content */
}

h2{
  margin: 10px 5px 5px 30px;
  font-family: Croissant;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 6px;
  display: flex;
  justify-content: flex-start;
}

p{
  font-size: 18px;
  margin: 0px 0px 10px 15px;
}

.music-details-dashboard{
  background-color: #f1f3f4;
  box-shadow: #0000002e 1px 5px 15px 10px;
  transition: 0.16s;
  border-radius: 30px;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 40px;
  font-family: sans-serif;
  font-weight: 600;
}

.music-details-dashboard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@keyframes rotate {
  0% {
      transform: rotate(0deg); /* Start with no rotation */
  }
  100% {
      transform: rotate(360deg); /* Rotate a full circle (360 degrees) */
  }
}


.player-img{
  animation: rotate 5s linear infinite; /* Rotate over 5 seconds infinitely */
  /* animation: none; */
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.player-img:hover{
  animation-play-state: paused;
}

.base-just-align{
  display: flex;
  padding: 0px 0px 0px 3px;
  font-style: italic;
  font-family: serif;
  font-weight: 100;
}

.music-player-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 20px 0px 0px 0px;
}

.upload-profile{
  display: flex;
  justify-content: flex-end;
}


.upload, .profile{
  height: 40px;
  width: 40px;
  margin: -85px 20px 0px 0px;
}

.profile{
  height: 35px;
  width: 35px;
  margin: -84px 60px 0px 0px;
}


.form-group label {
  font-size: 20px;
}

.form-control {
  font-size: 18px;
  padding: 10px;
}

.btn {
  font-size: 18px;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 200px;
  height: auto;
}

/* .upload {
  input {
    display: none;
  }

  label {
    height: 1000px;
    width: 1000px;
    border-radius: 5px;
    border: 5px dashed #999;
  }

  label:hover {
    color: #de0611;
    border: 1px dashed #de06
  }
} */


@media screen and (max-width: 500px) {
  p {
    font-size: 15px;
  }

  .music-details-dashboard {
    padding: 20px 20px;
  }
  
  h2 {
    font-size: 30px;
    margin: 10px 5px 5px 20px;
  }

  .upload, .profile{
    margin: -85px 20px 0px 0px;
  }
  
  .profile{
    margin: -84px 30px 0px 0px;
  }
}

@media screen and (max-width: 400px) {
  p {
    font-size: 15px;
  }

  .music-details-dashboard {
    padding: 20px 20px;
  }
  
  h2 {
    font-size: 25px;
    margin: 25px 5px 5px 20px;
  }

  .upload, .profile{
    margin: -70px 10px 0px 0px;
  }
  
  .profile{
    margin: -70px 25px 0px 0px;
  }
}