<!DOCTYPE html>
<html lang="en">
<!-- Upload Successful -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<!-- Rest of the code test -->

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- this line links the custom CSS file -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="../script.js"></script> -->
</head>

<body>


    <!-- <div class="nav-top" id="nav-top-id">
        <a href="/dashboard" class="nav-active">Dashboard</a>
        <a href="/upload" class="nav-inactive">Upload</a>
        <a href="/profile"class="nav-inactive">Profile</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div> -->
    
    <h2>Dashboard</h2>


    <div class="music-details-dashboard">
        <div class="">
        <img class="player-img" src="..//static/assets/player_bg2.jpg">
        <p>Name     <span class="base-just-align">•   {{ songs.songname }}  </span></p>
        <p>Artist   <span class="base-just-align">•   {{ songs.artist }}    </span></p>
        <p>Genre    <span class="base-just-align">•   {{ songs.genre }}     </span></p>
        <p>Album    <span class="base-just-align">•  {{ songs.album }}      </span></p>
        
        <div class="music-player-dashboard">
            <audio id="audio" controls>
                <source src="{{ url_for('static', filename='songs/' + songs.songname + '.mp3') }}"
                    type="audio/mp3">
            </audio>
        </div>
        </div>
    </div>

    <div class="">
        <div class="upload-profile">
            <a href="/upload">
                <img src="../static/assets/upload.png" class="upload" title="Upload Music">
            </a>
            <a href="/profile">
                <img src="..//static/assets/profile.png" class="profile" title="View Profile">
            </a>
        </div>
    </div>

</body>

</html>